
header, footer{
       background-color: rgb(54, 51, 51);
       text-align: center;
       color: white;
       padding: 15px;
}
body{
        margin: 0;
}
h2{
        max-width: 0;
}
p{
        margin: 0;
}
main{
        background-color: grey;
       
}
.masta{
        background: white;
         margin: 0 auto;
         max-width: 500px;
        
}
.section-2{
        background-color: lightgray
}
section{
        padding: 15px 0;
}
